.navbar {
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
}

h2 {
    background-color: #DBDBA7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1rem;
}

h3 {
    background-color:#DBDBA7; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#FFFFFF;
    text-decoration: none;
}